.heading {
    display: inline-block; 
    background-color: black;
    text-decoration: none;
    overflow: hidden;
}
a.heading {
    color: white;
    padding: 14px 16px;
}
div {
    color: black;
}
table {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
tr, td {
    border: 1px solid black;
}
img {
    float: left;
}